<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.app.allokal.mapper.UsersMapper">

    <!-- SELECT -->
    <!-- ADMIN -->
    <select id="getAuth" resultType="LoginVO" parameterType="String">
        SELECT auth FROM user WHERE id = '${id}' and pw = '${pwd}';
    </select>

    <select id="getUserData" parameterType="String" resultType="UserData">
        SELECT A.*,B.address,C.country,C.tel_phone,C.name  FROM user_record A
        LEFT JOIN franchisee B ON A.franchisee_name = B.name
        LEFT JOIN user C ON A.user_num = C.user_num
        WHERE A.user_num = ${user_num} and A.num = ${num};

    </select>

    <select id="allReservation" resultType="ReservationVO" parameterType="String">
        SELECT A.*,B.address,C.name FROM user_record A
        LEFT JOIN franchisee B ON A.franchisee_name  = B.name
        LEFT JOIN user C ON A.user_num = C.user_num
        WHERE A.useable = 'Y';
    </select>

    <select id="todayReservation" resultType="ReservationVO" parameterType="String">
        SELECT A.*,B.address,C.name FROM user_record A
        LEFT JOIN franchisee B ON A.franchisee_name  = B.name
        LEFT JOIN user C ON A.user_num = C.user_num
        WHERE DATE_FORMAT(A.request_date,'%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d') AND A.useable = 'Y';
    </select>

    <select id="completionReservation" resultType="ReservationVO" parameterType="String">
        SELECT A.*,B.address,C.name FROM user_record A
        LEFT JOIN franchisee B ON A.franchisee_name  = B.name
        LEFT JOIN user C ON A.user_num = C.user_num
        WHERE A.result_date IS NOT NULL;
    </select>
    <!-- USER -->
    <select id="checkId" resultType="LoginVO" parameterType="String">
        SELECT user_num FROM user where id = '${id}' and pw = '${pwd}';
    </select>

    <select id="checkOverlap" resultType="CheckVO" parameterType="String">
        SELECT * FROM user where id = '${id}';
    </select>

    <select id="signUp_iq" resultType="SignupVO" parameterType="String">
        SELECT user_num FROM user where id = '${id}' AND pw = '${pwd}';
    </select>

    <select id="getFranchisee" resultType="FranchiseeVO" parameterType="String">
        SELECT * FROM franchisee;
    </select>

    <select id="sel_franchisee" resultType="FranchiseeVO" parameterType="String">
        SELECT * FROM franchisee WHERE name = '${name}';
    </select>

    <select id="sel_reservation" resultType="ReservationVO" parameterType="String">
        SELECT * FROM user_record WHERE num = '${num}' AND useable = 'Y';
    </select>

    <select id="getReservationList" resultType="ReservationVO" parameterType="String">
        SELECT * FROM user_record WHERE user_num = '${user_num}' AND useable = 'Y' ORDER BY num DESC;
    </select>
    <!--INSERT -->
    <insert id="signUp" parameterType="String">
        INSERT INTO user(id,pw,email,tel_phone,country,name,auth,signup_date)
        VALUES('${id}','${pwd}','${email}','${tel_phone}','${country}','${name}','1',now())
    </insert>

    <insert id="reservation" parameterType="String" useGeneratedKeys="true" keyProperty="num">
        INSERT INTO user_record(franchisee_name,money,ex_money,require_date,useable,user_num,request_date)
        VALUES('${franchisee_name}','${money}','${ex_money}','${require_date}','Y','${user_num}',now())
    </insert>

    <update id="uploader" parameterType="String">
        UPDATE user SET file_name = '${fileName}',file_path = '${filePath}',auth = '2' WHERE user_num = '${user_num}'
    </update>
</mapper>
