<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.app.allokal.mapper.UsersMapper">

    <select id="checkId" resultType="LoginVO" parameterType="String">
        SELECT user_num FROM user where id = '${id}' and pw = '${pwd}';
    </select>
    <select id="checkOverlap" resultType="CheckVO" parameterType="String">
        SELECT * FROM user where id = '${id}';
    </select>
    <insert id="signUp" parameterType="String">
        INSERT INTO user(id,pw,email,tel_phone,country,name,auth,signup_date)
        VALUES('${id}','${pwd}','${email}','${tel_phone}','${country}','${name}','1',now())
    </insert>

    <select id="signUp_iq" resultType="SignupVO" parameterType="String">
        SELECT user_num FROM user where id = '${id}' AND pw = '${pwd}';
    </select>

    <select id="getFranchisee" resultType="FranchiseeVO" parameterType="String">
        SELECT * FROM franchisee;
    </select>

    <select id="sel_franchisee" resultType="FranchiseeVO" parameterType="String">
        SELECT * FROM franchisee WHERE name = '${name}';
    </select>
</mapper>
